<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Counter</title>

    <style>
        #counter {
            color: blue;
        }
    </style>
</head>
<body>
    <div id="counter"></div>

    <script>
        const counterElement = document.getElementById('counter');
        function connect() {
            var ws = new WebSocket('ws://localhost:4000/counter');

            ws.onopen = function() {
                // subscribe to some channels
                ws.send(JSON.stringify({
                    //.... some message the I must send when I connect ....
                }));
            };

            ws.onmessage = function(e) {
                const data = JSON.parse(event.data);
                const blinkCounter = data.contador;
                counterElement.textContent = `Blink Counter: ${blinkCounter}`;
            };

            ws.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            };

            ws.onerror = function(err) {
                console.error('Socket encountered error: ', err.message, 'Closing socket');
                ws.close();
                setTimeout(connect,100);
            };

            return ws
        }

        wes = connect();
        
        /*
        var socket = new WebSocket('ws://localhost:4000/counter'); // Replace with your server URL

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            const blinkCounter = data.contador;
            counterElement.textContent = `Blink Counter: ${blinkCounter}`;
        };

        socket.onerror = (error) => {
            console.error('WebSocket Error:', error);
            setTimeout(function() {console.log("Alguma coisa")}, 1000);           
        };

        socket.onclose = (event) => {
            if (event.wasClean) {
                console.log(`WebSocket connection closed cleanly, code=${event.code}, reason=${event.reason}`);
            } else {
                console.error('WebSocket connection died');
            }
        };

        // Initial update (optional)
        // You can remove this if you only want updates when the counter changes.
        socket.onopen = () => {
            socket.send('RequestInitialCounterValue');
        };
        */ 
    </script>
</body>
</html>
